<template name="portfolioList">
          <div class="card-panel">
            <div class="card-content">

            	<table class="bordered highlight">
			        <thead>
				        <tr>
				              <th data-field="name">Name</th>
				              <th data-field="server" class="center-align">Server</th>
				              <th data-field="price" class="center-align">Wordpress</th>
				        </tr>
			        </thead>

					<tbody>
				        {{#each items}}
				        	{{> item}}
				        {{/each}}
			        </tbody>
			    </table>


            </div>
          </div>

</template>


<template name="item">

	<tr class="item {{#if wp_update}}need-update{{/if}}">
	    <td class="left-align">
	    	<p>
	    		<span class="wp_name">{{name}}</span><br />
	    		<span class="wp_url"><a href="{{url}}" target="_blank" class="grey-text text-lighten-1">{{url}}</a></span>
	    	</p>
	    </td>
	    <td class="center-align">
	    	{{#if server}}
	    		<i class="small material-icons light-green-text">check_circle</i>
	    	{{else}}
	    		<i class="small material-icons red-text">error</i>
	    	{{/if}}
	    </td>
	    <td class="center-align">
	    	<p class="wp_version">{{wordpress}}</p>
	    </td>
	</tr>
</template>