<template name="portfolioItem">
	<div class="row">
		<div class="col l9 s12">
			<div class="card-panel">
				<a class="btn-floating btn-large waves-effect waves-light item-update foove-pink" href="{{pathFor 'portfolioEdit'}}"><i class="material-icons">create</i></a>
				<div class="row">
					<h5>Main site info</h5>
					<div class="divider"></div>
					<div class="section">

							<div class="row">
								<div class="col s3">
									<p class="grey-text">Site name:</p>
								</div>
								<div class="col s9">
									<p>{{name}}</p>
								</div>

								<div class="col s3">
									<p class="grey-text">Site url:</p>
								</div>
								<div class="col s9">
									<p>{{url}}</p>
								</div>

								<div class="col s3">
									<p class="grey-text">Server status:</p>
								</div>
								<div class="col s9">
									<p>
										{{#if server}}
											<span class="light-green-text">Online</span>
										{{else}}
											<span class="red-text">Offline</span>
										{{/if}}
									</p>
								</div>
							</div>

					</div>
					<h5>Wordpress info</h5>

					<div class="divider"></div>
					<div class="section">

							{{#if equals wordpress "-"}}
								<p>No data found, please check if plugin is installed and activated</p>
							{{else}}
								<div class="row">
									<div class="col s3">
										<p class="grey-text">Wordpress status:</p>
									</div>
								
									<div class="col s9">
										<p>
											{{#if wp_update}}
												<span class="red-text">There's an update available for Wordpress</span>
											{{else}}
												<span class="light-green-text">Up to date</span>
											{{/if}}
										</p>
									</div>
									
									<div class="col s3">
										<p class="grey-text">Wordpress version:</p>
									</div>
									<div class="col s9">
										<p>{{wordpress}}</p>
									</div>
								</div>
							{{/if}}

					</div>
				</div>
			</div>
		</div>
	</div>
</template>