<template name="portfolioEdit">

	<div class="row">
		<div class="col  l9 s12">
			<div class="card-panel">
				<a class="btn-floating btn-large waves-effect waves-light item-update foove-pink delete" href="#"><i class="material-icons">delete</i></a>


				<div class="row">
					<h5>Update {{name}}</h5>
					<div class="divider"></div>
					<div class="col s12">
						{{> quickForm collection="Items" id="updateItemForm" type="update" doc=this fields="name, url" buttonClasses="btn foove-pink"}}
					</div>
				</div>
				
			</div>
		</div>
	</div>
</template>