body {
	background-color: #F7F7F7;
}


.nav-head {
	height: 93px;
}

.browser-icon {
	width: 32px;
	height: 32px;
}

i.delete {
	cursor: pointer;
}

/* Login template css */
.login-background {
	height: 100vh;
	background-color: #180D22;
}

.login-logo {
	position: absolute;
	width: 100%;
}
.login-logo img{
	max-height: 200px;
	max-width: 70%;
	display: inline-block;
}

.login-slope-cover {
	position: absolute;
	bottom: 0;
	height: 40%;
	width: 100%;
	overflow: hidden;
}
.login-slope {
	width: 120%;
	height: 100%;
	left: -10%;
	bottom: -20%;

	-webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);

    position: relative;
	background-color: #EE1848; 
}

.login-card {
	padding: 20px;
}

.login-avatar {
	width: 100%;
}

/* account dropdown field */
.account-wrapper {
	display: none;
	background-color: #FFF;
	color: rgba(0, 0, 0, 0.87);
	
	min-width: 350px;
	position: absolute;
	right: 0;

	z-index: 9999;
}

.account-content {
	min-height: 150px;
	padding: 28px 10px 0;
}

.account-content img {
	max-width: 77px;
}

.account-content h4 {
	margin-bottom: 0;
}

.account-content p {
	margin-top: 0;
}

.account-footer {
	min-height: 50px;
	padding: 8px;

	background-color: #F7F7F7;

}

/* form adjustments */
.input-field label.active {
	min-width: 100px;
}

	/* label focus color */
   .input-field input[type]:focus + label {
     color: #EE1848;
   }
   /* label underline focus color */
   .input-field input[type]:focus {
     border-bottom: 1px solid #EE1848;
     box-shadow: 0 1px 0 0 #EE1848;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #EE1848;
   }


/* changing button color */
.btn {
	background-color: #EE1848;
}

.btn:hover {
	background-color: #EE1848;
}

.btn:focus {
	background-color: #EE1848;
}


/* portfolio items template */
th {
	font-weight: 300;
}

td p {
	margin-top: 0;
	margin-bottom: 0;
}

.wp_name {
	font-size: 24px;
	font-weight: 200;
	color: #EE1848;
}

.wp_url {
	font-weight: 200;
}

.wp_version {
	font-size: 20px;
	font-weight: 200;
}

.update {
	border-bottom: 1px solid #F44336 !important;
}