<template name="loginLayout">

    <div class="login-background valign-wrapper">

        <div class="login-logo center-align"><img src="/img/logos/Logo-inverted-dark@1x.svg" alt="Foove Logo"></div>

        <div class="login-slope-cover">
            <div class="login-slope"></div>
        </div>

        <!-- Page wraper -->
        <div class="container">
            <div class="row">
                <div class="col l6 offset-l3 m8 offset-m2 s12">
                    <div class="card login-card valing">
                        {{> yield}}
                    </div>
                </div>
            </div>
        </div>
        <!-- End page wrapper-->

    </div>
</template>