<template name="myAccount">

	<div class="row">
		<div class="col s12 m5">
			{{> accountCard}}
		</div>
		<div class="col s12 m7">
			<div class="card-panel">
				<div class="row">
	   				<form class="col s12">

	   					<div class="row">
				   	  	  	<div class="input-field col s12">
				   	  	  	  	<h4>Personal</h4>
				   	  	  	</div>
				   	  	</div>

						{{> personal}}

						<div class="row">
				   	  	  	<div class="input-field col s12">
				   	  	  	  	<h4>Notifications</h4>
				   	  	  	</div>
				   	  	</div>
						{{> notifications}}

						<div class="row">
							<div class="col s12">
								<p id="formMessage" class="red-text"></p>
							</div>
						</div>

				   	  	<div class="row">
				   	  		<div class="input-field col s12">
				   	  			<button class="btn waves-effect waves-light foove-pink" type="submit" name="action">Update
				   					<i class="material-icons right">send</i>
								</button>
				   	  		</div>
				   	  	</div>
					</form>
				</div>
			</div>
		</div>
	</div>

</template>