<template name="passwordRecovery">

  	{{#if resetPassword}}
        <div class="row">
            <form id="new-password" action="action" class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input name="newPassword" type="password" class="validate">
                        <label for="newPassword">Password</label>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <p id="formMessage" class="red-text"></p>
                        </div>
                    </div>
                    <div class="input-field col s12">
                        <button class="btn waves-effect waves-light foove-pink" type="submit" name="action">Change Password
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    {{else}}
        <div class="row">
            <form id="recovery-form" action="action" class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input name="recoveryEmail" type="email" class="validate">
                        <label for="recoveryEmail">Email address</label>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <p id="formMessage" class="red-text"></p>
                        </div>
                    </div>
                    <div class="input-field col s12">
                        <button class="btn waves-effect waves-light foove-pink" type="submit" name="action">
                            Send reset Instructions
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </form>
            <div class="col s12">
                <a href="{{pathFor 'dashboard'}}">return to login</a>
            </div>
        </div>
    {{/if}}
  
</template>

<template name="recoverThanks">
    <div class="row">
        <div class="col s12">
            <h2>Thank you.</h2>
            <p>We've send you an email with instructions</p>
        </div>
        <div class="col s12">
            <a href="{{pathFor 'dashboard'}}">return to login</a>
        </div>
    </div>
</template>