<template name="passwordRecovery">

  	{{#if resetPassword}}
        <div class="row">
            <form id="new-password" action="action" class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="new-password-password" type="password" class="validate">
                        <label for="new-password-password">password</label>
                    </div>
                    <div class="input-field col s12">
                        <button class="btn waves-effect waves-light" type="submit" name="action">Change Password
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    {{else}}
        <div class="row">
            <form id="recovery-form" action="action" class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="recovery-email" type="text" class="validate">
                        <label for="recovery-email">Email</label>
                    </div>
                    <div class="input-field col s12">
                        <button class="btn waves-effect waves-light" type="submit" name="action">Send reset Instructions
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </form>
            <div class="col s12">
                <a href="{{pathFor 'dashboard'}}">return to login</a>
            </div>
        </div>
    {{/if}}
  
</template>