<template name="sidebar">

	<div class="card">

        <div class="card-content">
            <h5>Browsers</h5>
            <div class="divider"></div>
            <table>
                <tbody>
                    {{#each browsers}}
                        <tr class="browser">
                            <td><img class="browser-icon" src="img/icons/{{name}}.svg"></td>
                            <td>
                                <p>
                                    {{fullName}}
                                    {{#if checked}}
                                    {{else}}
                                        <span><i class="material-icons">info</i></span>
                                    {{/if}}
                                </p>
                            </td>
                            <td><p>{{version}}</p></td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
	
</template>